1. migrate all the records from excel to database
2. create a total number of per year search when generate a report
3. generate a report search per year and above 5 yrs 
4. create a search for per year, MR User, actual users, per services
 